body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('imagenamgy.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

.button {
    padding: 20px 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Baskerville Old Face', serif;
    transition: background-color 0.3s ease;
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.button:hover {
    background-color: darkred;
}

.countdown {
    font-size: 24px;
    font-family: 'Baskerville Old Face', serif;
    color: white;
    text-align: center;
}
